<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mailer</title>
</head>
<body>
  <h1>Mailer</h1>
  <h2>Usage:</h2>
  <h3>POST /send</h3>
  <p>Send email. Parameters:</p>
  <pre>
{
    "api_key": 123,
    "email": "receiver@email.com",
    "template": "&lt;h1&gt;Hello {{name}}&lt;/h1&gt;",
    "subject": "This is the subject",
    "from_email": "sender@email.com",
    "from_name": "Daniele",
    "text": "text only message",
    "data": {
        "any": "thing"
    }
}
  </pre>
  <p>All the extra parameters in <code>data</code> are passed to the templating engine (<a href="https://github.com/Shopify/liquid">Liquid</a>).</p>
</body>
</html>
